@charset "utf-8";

/* Core Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:100%; font-family:Tahoma,Arial,sans-serif;}

/* Remember to define focus styles! */
:focus { outline: 0;}
body { width:100%; height:100%; color:black; }
ul, ol { list-style:none;}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse:separate; border-spacing:0;}
caption, th, td { font-weight:normal;}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}

img { border:none;}
a { color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

.text-c {
text-align: center;
}

/* 分页 */
#pages { padding:14px 0 10px; font-family:宋体; font-size: 12px }
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 { background:url(../images/admin_img/pages.png) no-repeat 0 5px; }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }