body {
    overflow: hidden
}
#slider {
    width: 467px; /* important to be same as image width */
    height: 600px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
#sliderUl {
    position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderLi {
    float: left;
    width: 467px;
    height: 600px;
    position: relative;
	display: none;
}
.sliderLi .backlayout {
    position: absolute;
    width: 467px;
    height: 600px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.sliderLi .content {
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 447px;
    color: #fff;
    position: relative;
    
}

.clear {
	clear: both;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}
ul { list-style-type: none;}
body{background-color: #666}
